body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}
.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", system-ui;
    font-style: normal;
  }  

h1 {
    font-weight:600;
    font-size: 100px;
    color: #333;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: "Akaya Kanadaka", system-ui;
    font-style: normal;
}

nav button.active {
    background-color: #007bff;
    color: white;
    font-family: "Akaya Kanadaka", system-ui;
    font-style: normal;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
}
